In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./retrieval_analysis.tsv', sep='\t')

df.head

<bound method NDFrame.head of          qid    docid  tok_scores  expansion_scores   is_retrieved
0     300674  7067032   24.883863         18.416626      retrieved
1     125705  7067056   17.218987          9.659865      retrieved
2      94798  7067181   21.069820          8.371050      retrieved
3       9083  7067274   16.276667         23.320732  not_retrieved
4     174249  7067348   16.462898          5.307526      retrieved
...      ...      ...         ...               ...            ...
7432  147073  8008770   18.282398         13.746606      retrieved
7433  243761  8008787    7.681819         20.702604      retrieved
7434  162662  8008977   28.775030          4.983688      retrieved
7435  247194  8009319   16.650551         14.056755      retrieved
7436  195199  8009377   25.947323          7.949941      retrieved

[7437 rows x 5 columns]>

In [6]:
not_retrieved = df[df['is_retrieved'] == 'not_retrieved']
retrieved = df[df['is_retrieved'] == 'retrieved']

In [7]:
coil_scoring_issues = not_retrieved.sort_values(['tok_scores', 'expansion_scores'], ascending=[1,0])
splade_scoring_issues = not_retrieved.sort_values(['expansion_scores', 'tok_scores'], ascending=[1,0])

In [8]:
splade_scoring_wins = retrieved.sort_values(['tok_scores', 'expansion_scores'], ascending=[1,0])
coil_scoring_wins = retrieved.sort_values(['expansion_scores', 'tok_scores'], ascending=[1,0])

In [9]:
coil_scoring_issues[:20]

          qid    docid  tok_scores  expansion_scores   is_retrieved
2363   267644  7353185         0.0         16.206362  not_retrieved
6314   937578  7859976         0.0         13.935703  not_retrieved
3852   671692  7549372         0.0         13.318346  not_retrieved
4370   455793  7610158         0.0         12.659703  not_retrieved
2419   139897  7360952         0.0         12.395366  not_retrieved
3363   670142  7488358         0.0         11.301584  not_retrieved
3362   670142  7488354         0.0         11.208992  not_retrieved
828   1067659  7160909         0.0         11.140598  not_retrieved
4571   592235   146223         0.0         10.871523  not_retrieved
164   1089071  2589472         0.0         10.569900  not_retrieved
554   1084192  7130584         0.0          9.310299  not_retrieved
2761   433691  7409144         0.0          9.031782  not_retrieved
4569   592235   146220         0.0          8.800402  not_retrieved
7211    97652  7974708         0.0          8.785288  not_retrieved
4857   331352  7674426         0.0          5.656744  not_retrieved
594   1083611  7135798         0.0          4.511937  not_retrieved
3903   537706  7555704         0.0          4.426071  not_retrieved
5635  1093181  7770151         0.0          3.355845  not_retrieved
6653   161117  3221988         0.0          3.142163  not_retrieved
5137   119683  6682231         0.0          2.662234  not_retrieved

In [10]:
splade_scoring_issues[:20]

          qid    docid  tok_scores  expansion_scores   is_retrieved
1076  1047386  7189773   13.447288          0.000000  not_retrieved
6360   788431  7865636    9.890178          0.124025  not_retrieved
4662   677519  7647118    1.351172          0.138945  not_retrieved
3308   714672  7480664    0.803858          0.230709  not_retrieved
7069  1029791    52862    2.523148          0.477977  not_retrieved
3518   634038  7507377    9.553960          0.776501  not_retrieved
5954   766804  7812762    2.671365          0.869323  not_retrieved
2385    55691  7355625    1.869720          0.876088  not_retrieved
6837   357519  7928087    0.420161          0.977519  not_retrieved
4152   634113  7582982   11.632897          1.567691  not_retrieved
6108  1092394  7834008    4.390647          1.630233  not_retrieved
7355    72398  7997619    6.319665          1.804697  not_retrieved
3960   694726  1954925    1.380664          1.876785  not_retrieved
1324  1029058  7220130    8.221876          1.971941  not_retrieved
5262   772055  7723106    6.192355          2.190503  not_retrieved
7391  1090374  8001682    0.000000          2.457746  not_retrieved
668   1082759  7143238    1.683461          2.579485  not_retrieved
5137   119683  6682231    0.000000          2.662234  not_retrieved
5940   844211  5268318    2.613800          2.935075  not_retrieved
2776   712944  7411066    6.787694          2.970391  not_retrieved

In [11]:
splade_scoring_wins[:20]

          qid    docid  tok_scores  expansion_scores is_retrieved
2252   208411  7334522    0.000000         30.236866    retrieved
176   1088993  7089215    0.000000         17.073212    retrieved
4684   659247   447379    0.000000         15.903962    retrieved
1419  1021324  7231901    0.000000         11.542439    retrieved
2255   149790  7334549    0.000000         11.231724    retrieved
37     208145  7072843    0.090196         20.269184    retrieved
5816   315884  7796324    0.326496         22.334404    retrieved
789   1100457  7156564    0.466642         19.302528    retrieved
4329   591993   448393    0.471002         16.441999    retrieved
3535   458885  7509847    0.473924         18.325459    retrieved
4146   237936  1990789    0.503673         23.311974    retrieved
4398  1095126  7613702    0.660809         19.830524    retrieved
1993   984774  7296082    0.667142          8.865694    retrieved
2916   513779  6736867    0.675496         14.626944    retrieved
3176  1096866  3471973    0.821909         19.895477    retrieved
4028   249618  7570218    0.850358         25.831898    retrieved
3593  1096268  7518616    0.855312         27.077980    retrieved
3383  1096557  7490832    0.877318         28.187622    retrieved
1615  1004228  7256085    0.985823         15.073228    retrieved
3737   275629  7536587    1.012034         19.926086    retrieved

In [12]:
coil_scoring_wins[:20]

          qid    docid  tok_scores  expansion_scores is_retrieved
4644   421813  2554945   18.074787          0.000000    retrieved
4942  1101668  7683665   11.211846          0.002998    retrieved
3965   173391  7561900   23.653288          0.166218    retrieved
4527   147090  7631445   21.004639          0.363644    retrieved
1071  1047629  7189291   21.622915          0.384609    retrieved
301   1087351  7102627   19.532187          0.401919    retrieved
3548  1096347  7511201   17.422520          0.417335    retrieved
4165   420867  7584178   22.533516          0.470497    retrieved
4164   420867  7584172   24.610950          0.523216    retrieved
3656   391481  7526879   10.558874          0.575132    retrieved
7059   983451  7956558   14.120642          0.642884    retrieved
1692  1000030  7264233   13.726707          0.653065    retrieved
5197  1093855  3961347   25.508274          0.696765    retrieved
4645   421813  7644384   11.539848          0.721761    retrieved
3309   714672  7480666   16.152763          0.781938    retrieved
4084   405737  7575861   30.326500          0.794006    retrieved
4999   563771  7689813   19.554113          0.806340    retrieved
4559  1094869  7634698   14.306131          0.819322    retrieved
7003   918424  7949299   23.174271          0.824781    retrieved
4154   634113  7582989   15.951344          0.965441    retrieved